[submodule "art"]
	path = art
	url = https://github.com/Altronix-Team/altronix.funkin_art.git
[submodule "assets"]
	path = assets
	url = https://github.com/Altronix-Team/altronix.funkin_assets.git
[submodule "updater"]
	path = updater
	url = https://github.com/Altronix-Team/AltronixEngine-Updater.git
